[submodule "proto"]
	path = proto
	url = git@github.com:centy-io/proto.git
	branch = main
[submodule "installer"]
	path = installer
	url = https://github.com/centy-io/installer.git
	branch = main
[submodule "web"]
	path = web
	url = https://github.com/centy-io/centy-app.git
	branch = main
